#chat-window {
  background-color: #e38786;
  height: 100vh;
}

#chat-title {
}

#chat-window {
}

#side-menu {
  background-color: #7aed74;
  min-width: 200px;
  height: 100vh;
}

#nav-top {
  height: 10%;
}

#nav-middle {
  height: 60%;
}

#nav-bottom {
  height: 30%;
}

#chat-top {
  height: 10%;
}

#chat-middle {
  height: 80%;
}

#chat-bottom {
  height: 10%;
}

#chat-select {
  height: 500px;
}
